.tp-left ul li a {
    background: url('../img/green-button-bg-lte-ie8.gif') repeat-x
}
.paginator {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f7f7f7',EndColorStr='#ffffff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f7f7f7',EndColorStr='#ffffff')";
    zoom: 1;
}
.red-note {
    background: url('../img/red-note-bg-lte-ie8.gif') repeat-x
}
.green-note {
    background: url('../img/green-note-bg-lte-ie8.gif') repeat-x
}