/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: Arial, Helvetica, Garuda, sans-serif;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

/* Header */
header {
    min-width: 1096px;
    margin: 0 0 17px
}
.top-panel {
    height: 40px;
    line-height: 40px;
    background: #0b2961;
    color: #fff;
    font-size: 12px;
    position: relative;
    -webkit-box-shadow: 0px 2px 4px 0px #cad8f2;
    box-shadow: 0px 2px 4px 0px #cad8f2;
}
.top-panel a.logo {
    position: absolute;
    top: 40px;
    left: 50%;
    margin: 0 0 0 -91px;
    text-decoration: none;
    display: block;
    width: 182px;
    height: 93px;
    text-indent: -9999px;
    background: url('../img/index-kuba-libre_03.gif') no-repeat
}
.tp-left {
    float: left;
    padding: 0 0 0 34px
}
.tp-left ul {
    padding: 10px 0;
    margin: 0
}
.tp-left ul li {
    float: left;
    padding: 0 8px 0 0;
    position: relative
}
.tp-left ul li a {
    display: block;
    height: 20px;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
    padding: 0 10px;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #bed878;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bed878), to(#477c07));
    background-image: -webkit-linear-gradient(top, #bed878, #477c07);
    background-image: -moz-linear-gradient(top, #bed878, #477c07);
    background-image: -ms-linear-gradient(top, #bed878,#477c07);
    background-image: -o-linear-gradient(top, #bed878, #477c07);
    background-image: linear-gradient(to bottom, #bed878, #477c07);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    text-shadow: -1px -1px 1px #2a3a07;
    -webkit-box-shadow: 0px 0px 4px 0px #05132b;
    box-shadow: 0px 0px 4px 0px #05132b;
}
.tp-left ul li a:hover {
    text-shadow: 1px 1px 1px #2a3a07;
}
.tp-right {
    float: right;
    padding: 0 34px 0 0
}
.tp-right ul {
    padding: 7px 0;
    margin: 0
}
.tp-right ul li {
    float: left;
    padding: 0 0 0 10px
}
.tp-right ul li a {
    display: block;
    width: 26px;
    height: 26px;
    overflow: hidden;
    background: url('../img/social-icons.png') no-repeat;
    text-decoration: none
}
.tp-right ul li a.twitter-icon {
    background-position: 0 -26px
}
.tp-right ul li a.facebook-icon {
    background-position: 0 -52px
}
.tp-right ul li a.filmoscop-icon {
    background-position: 0 -78px
}
.tp-right ul li a.vkontakte-icon:hover {
    background-position: -26px 0
}
.tp-right ul li a.twitter-icon:hover {
    background-position: -26px -26px
}
.tp-right ul li a.facebook-icon:hover {
    background-position: -26px -52px
}
.tp-right ul li a.filmoscop-icon:hover {
    background-position: -26px -78px
}
.top-panel .social-title {
    float: right;
    padding: 0 5px 0 0
}
.main-image {
    height: 218px;
}
.multiplebgs .main-image {
    background:
        url('../img/main-img.jpg') 0 -218px no-repeat,
        url('../img/main-img.jpg') 100% -436px no-repeat,
        url('../img/main-img.jpg') repeat-x
}
.no-multiplebgs .main-image {
    background: url('../img/main-img.jpg') repeat-x
}
.no-multiplebgs .main-image div {
    height: 218px
}
.no-multiplebgs .main-image .mi-1 {
    background: url('../img/main-img.jpg') 100% -436px no-repeat
}
.no-multiplebgs .main-image .mi-2 {
    background: url('../img/main-img.jpg') 0 -218px no-repeat
}
header > nav {
    height: 40px;
    background: #e2000c;
    -webkit-box-shadow: 0px -2px 4px 0px #eeced0;
    box-shadow: 0px -2px 4px 0px #eeced0;
    position: relative
}
header > nav ul {
    margin: 0;
    padding: 7px 0 0 10px
}
header > nav ul li {
    float: left;
    padding: 0 5px 0 0;
    position: relative
}
header > nav ul li a {
    display: block;
    padding: 0 10px;
    line-height: 26px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
header > nav ul li a:hover,
header > nav ul li.active a {
    color: #c77953;
    background: #9d0000;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box
}

/* Common */
.wrapper a {
    -webkit-transition-duration: 100ms;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 100ms;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 100ms;
    -o-transition-property: all;
    -o-transition-timing-function: ease;
}
.wrapper {
    width: 1096px;
    margin: auto;
    font: 12px Tahoma, Geneva, Kalimati, sans-serif;
    padding: 0 0 60px
}
h1 {
    font: 24px/20px "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
    color: #0b2b64;
    margin: 15px 0
}
.content-wrapper {
    margin-bottom: 60px
}
.w-content {
    float: left;
    width: 100%
}
.content-column {
    margin: 0 200px 0 0
}
.navigation-column {
    float: left;
    width: 160px;
    padding: 14px 20px;
    margin: 0 0 0 -200px;
    min-height: 772px;
    background: url('../img/sb-bg.png') no-repeat
}

/* Search Form */
#search-form {
    background: #0b2b64;
    margin: 0 31px 0 0;
    padding: 13px 0 7px;
    height: 42px;
    position: relative
}
.sf-fields {
    padding: 6px 0 10px;
    float: left;
    height: 26px
}
.sf-fields label {
    padding: 0 13px 0 15px;
    color: #fff;
    font: 18px/26px "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
    float: left
}
#search-text {
    border: 1px solid #7195d6;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    background-color: #c9c9c9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c9c9c9), to(#fcfcfc));
    background-image: -webkit-linear-gradient(top, #c9c9c9, #fcfcfc);
    background-image: -moz-linear-gradient(top, #c9c9c9, #fcfcfc);
    background-image: -ms-linear-gradient(top, #c9c9c9, #fcfcfc);
    background-image: -o-linear-gradient(top, #c9c9c9, #fcfcfc);
    background-image: linear-gradient(to bottom, #c9c9c9, #fcfcfc);
    padding: 5px;
    height: 14px;
    width: 507px;
    font: 14px/14px "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
    color: #666;
    float: left;
    margin: 0 11px 0 0
}
.sf-fields select {
    width: 164px;
    float: left;
    margin: 0 10px 0 0
}
.sf-fields .cusel {
    float: left;
    margin: 0 10px 0 0
}
.search-button {
    background: url('../img/search-button-bg.png') no-repeat;
    padding: 2px 6px 10px 4px;
    width: 82px;
    height: 42px;
    text-align: center;
    color: #fff;
    font: 14px/30px "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
    border: 0
}
.s-arrow {
    position: absolute;
    right: -31px;
    top: 0;
    width: 31px;
    height: 62px;
    background: url('../img/search-arrow.png') no-repeat
}

/* Tags Menu */
.tags {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0
}
.tags li {
    float: left;
    margin: 0 2px 0 0;
    background: url('../img/tags.png') 0 -78px;
    position: relative
}
.tags li a {
    display: block;
    height: 12px;
    text-decoration: none;
    padding: 58px 0 8px;
    text-align: center;
    color: #fff;
    background: url('../img/tags.png') 0 -156px;
    position: relative;
    z-index: 2
}
.tags li span {
    position: absolute;
    z-index: 1;
    height: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url('../img/tags.png') 0 100%
}
.tags li.active span {
    bottom: -22px;
    height: 22px
}
.tags li.tag-films {
    width: 68px;
    background-position: 0 -78px
}
.tags li.tag-series {
    width: 72px;
    background-position: -70px -78px
}
.tags li.tag-animation {
    width: 80px;
    background-position: -144px -78px
}
.tags li.tag-music {
    width: 66px;
    background-position: -226px -78px
}
.tags li.tag-show {
    width: 46px;
    background-position: -294px -78px
}
.tags li.tag-mobile {
    width: 90px;
    background-position: -342px -78px
}
.tags li.tag-games {
    width: 50px;
    background-position: -434px -78px
}
.tags li.tag-study {
    width: 78px;
    background-position: -486px -78px
}
.tags li.tag-sport {
    width: 56px;
    background-position: -566px -78px
}
.tags li.tag-programs {
    width: 90px;
    background-position: -624px -78px
}
.tags li.tag-books {
    width: 57px;
    background-position: -716px -78px
}
.tags li.tag-consols {
    width: 70px;
    background-position: -775px -78px
}
.tags li.tag-doc {
    width: 134px;
    background-position: -847px -78px
}
.tags li.tag-other {
    width: 82px;
    background-position: -983px -78px
}
.tags li.tag-films:hover, .tags li.tag-films.active {
    background-position: 0 0
}
.tags li.tag-series:hover, .tags li.tag-series.active {
    background-position: -70px 0
}
.tags li.tag-animation:hover, .tags li.tag-animation.active {
    background-position: -144px 0
}
.tags li.tag-music:hover, .tags li.tag-music.active {
    background-position: -226px 0
}
.tags li.tag-show:hover, .tags li.tag-show.active {
    background-position: -294px 0
}
.tags li.tag-mobile:hover, .tags li.tag-mobile.active {
    background-position: -342px 0
}
.tags li.tag-games:hover, .tags li.tag-games.active {
    background-position: -434px 0
}
.tags li.tag-study:hover, .tags li.tag-study.active {
    background-position: -486px 0
}
.tags li.tag-sport:hover, .tags li.tag-sport.active {
    background-position: -566px 0
}
.tags li.tag-programs:hover, .tags li.tag-programs.active {
    background-position: -624px 0
}
.tags li.tag-books:hover, .tags li.tag-books.active {
    background-position: -716px 0
}
.tags li.tag-consols:hover, .tags li.tag-consols.active {
    background-position: -775px 0
}
.tags li.tag-doc:hover, .tags li.tag-doc.active {
    background-position: -847px 0
}
.tags li.tag-other:hover, .tags li.tag-other.active {
    background-position: -983px 0
}
.tags li.tag-films a {
    background-position: 0 -156px
}
.tags li.tag-series a {
    background-position: -70px -156px
}
.tags li.tag-animation a {
    background-position: -144px -156px
}
.tags li.tag-music a {
    background-position: -226px -156px
}
.tags li.tag-show a {
    background-position: -294px -156px
}
.tags li.tag-mobile a {
    background-position: -342px -156px
}
.tags li.tag-games a {
    background-position: -434px -156px
}
.tags li.tag-study a {
    background-position: -486px -156px
}
.tags li.tag-sport a {
    background-position: -566px -156px
}
.tags li.tag-programs a {
    background-position: -624px -156px
}
.tags li.tag-books a {
    background-position: -716px -156px
}
.tags li.tag-consols a {
    background-position: -775px -156px
}
.tags li.tag-doc a {
    background-position: -847px -156px
}
.tags li.tag-other a {
    background-position: -983px -156px
}
.tags li.tag-films span {
    background-position: 0 100%
}
.tags li.tag-series span {
    background-position: -70px 100%
}
.tags li.tag-animation span {
    background-position: -144px 100%
}
.tags li.tag-music span {
    background-position: -226px 100%
}
.tags li.tag-show span {
    background-position: -294px 100%
}
.tags li.tag-mobile span {
    background-position: -342px 100%
}
.tags li.tag-games span {
    background-position: -434px 100%
}
.tags li.tag-study span {
    background-position: -486px 100%
}
.tags li.tag-sport span {
    background-position: -566px 100%
}
.tags li.tag-programs span {
    background-position: -624px 100%
}
.tags li.tag-books span {
    background-position: -716px 100%
}
.tags li.tag-consols span {
    background-position: -775px 100%
}
.tags li.tag-doc span {
    background-position: -847px 100%
}
.tags li.tag-other span {
    background-position: -983px 100%
}

/* Content */
.paginator {
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #ffffff);
    background-image: -moz-linear-gradient(top, #f7f7f7, #ffffff);
    background-image: -ms-linear-gradient(top, #f7f7f7, #ffffff);
    background-image: -o-linear-gradient(top, #f7f7f7, #ffffff);
    background-image: linear-gradient(to bottom, #f7f7f7, #ffffff);
    margin: 0 0 11px
}
.pag-wrapper {
    overflow: hidden;
    background: url('../img/paginator-bg.png') 50% 0 no-repeat
}
.paginator ul {
    margin: 0;
    padding: 12px 0 25px 20px;
    display: none
}
.paginator ul li {
    float: left;
    margin: 0 12px 0 0
}
.paginator ul li a {
    display: block;
    width: 26px;
    line-height: 26px;
    color: #666;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.paginator ul li a:hover,
.paginator ul li.active a {
    background: #ff6c24;
    color: #fff;
    font-weight: bold
}

/* Torrents List */
.torrent-list {
    padding: 0;
    margin: 0;
    list-style: none
}
.torrent-list > li {
    float: left;
    width: 50%
}
.torrent-list > li.odd {
    background: url('../img/shadow-b.png') 100% 100% no-repeat
}
.torrent-list > li.even {
    background: url('../img/shadow-b2.png') 0 100% no-repeat
}
.torrent-list > li.odd.lastLine,
.torrent-list > li.even.lastLine {
    background: none
}
.tl-wrapper {
    padding: 23px 19px 35px;
}
.even .tl-wrapper {
    background: url('../img/shadow-tl.png') no-repeat
}
.even.firstLine .tl-wrapper {
    background: none
}
.tlw-content {
    float: left;
    width: 100%
}
.tlw-content-column {
    margin: 0 0 0 112px;
    padding: 0 0 0 18px
}
.tlw-image-column {
    float: left;
    width: 112px;
    margin-left: -100%
}
.tlw-image-column a {
    float: left;
    padding: 5px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px #05132b;
    box-shadow: 0px 0px 4px 0px #05132b;
}
.tlw-top {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 11px;
    color: #808080;
    margin: 0 0 15px
}
.tlw-top li {
    float: left;
    margin: 0 10px 0 0
}
.note-button {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    color: #fff;
    font-weight: bold;
    display: inline-block
}
.note-button span {
    padding: 1px 3px;
    line-height: 10px;
    height: 10px;
    display: block
}
.red-note {
    background-color: #ff8888;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8888), to(#ff2323));
    background-image: -webkit-linear-gradient(top, #ff8888, #ff2323);
    background-image: -moz-linear-gradient(top, #ff8888, #ff2323);
    background-image: -ms-linear-gradient(top, #ff8888, #ff2323);
    background-image: -o-linear-gradient(top, #ff8888, #ff2323);
    background-image: linear-gradient(to bottom, #ff8888, #ff2323);
    border: 1px solid #fd0000;
}
.red-note span {
    border-bottom: 1px solid #f88;
}
.green-note {
    background-color: #99cc66;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#99cc66), to(#85aa08));
    background-image: -webkit-linear-gradient(top, #99cc66, #85aa08);
    background-image: -moz-linear-gradient(top, #99cc66, #85aa08);
    background-image: -ms-linear-gradient(top, #99cc66, #85aa08);
    background-image: -o-linear-gradient(top, #99cc66, #85aa08);
    background-image: linear-gradient(to bottom, #99cc66, #85aa08);
    border: 1px solid #84a903;
}
.green-note span {
    border-bottom: 1px solid #9c6;
}
.tlw-header {
    font: 16px "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
    color: #ff7612;
    text-decoration: none;
    display: block;
    margin: 0 0 6px
}
.tlw-header:hover {
    text-decoration: underline
}
.tlw-add-data {
    display: block;
    font-size: 14px;
    color: #333;
    margin: 0 0 6px
}
.tlw-categories {
    padding: 0;
    margin: 0 0 20px;
    list-style: none
}
.tlw-categories li {
    float: left;
    margin: 0 10px 0 0
}
.tlw-categories li a {
    padding: 0 0 0 15px;
    display: inline-block;
    position: relative;
    text-decoration: none
}
.tlw-categories li a:hover {
    text-decoration: underline
}
.tlw-categories li a span {
    position: absolute;
    top: 50%;
    left: 0;
    margin: -5px 0 0;
    width: 10px;
    height: 10px
}
.tlw-categories li.tlwc-films a {
    color: #309
}
.tlw-categories li.tlwc-films a span {
    background: #309
}
.tlw-categories li.tlwc-series a {
    color: #84a903
}
.tlw-categories li.tlwc-series a span {
    background: #84a903
}
.download-button {
    float: left;
    margin: 0 15px 0 0;
    background: url('../img/download-button-bg.png') no-repeat;
    text-align: center;
    padding: 2px 41px 10px 4px;
    width: 87px;
    color: #fff;
    text-decoration: none;
    font: 14px/35px "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
    text-shadow: -1px -1px 2px #376283;
    position: relative
}
.download-button:hover {
    text-shadow: 1px 1px 2px #376283
}
.size-peers {
    float: left;
    font-size: 14px;
    color: #36a8ff;
    padding: 4px 0 0
}
.size-peers span {
    font-size: 11px;
    font-weight: bold;
    color: #a2a2a4
}
.size-peers span .peers {
    color: #6cc600
}
.size-peers span .seeds {
    color: #c78500
}

/* Sidebar */
.filter-form {
    margin: 0 0 16px
}
.filter-form-row {
    margin: 0 0 16px
}
.filter-form-row label {
    color: #1a1a1a;
    display: block;
    padding: 5px 0
}
.filter-form-row select {
    width: 100%;
    font: 12px Tahoma, Geneva, Kalimati, sans-serif
}
.sb-block {
    margin: 24px 0
}
.sb-block h3 {
    font: 14px "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
    margin: 0
}
.sb-block ul {
    padding: 0;
    margin: 0;
    list-style: none
}
.sb-block ul li {
    margin: 3px 0
}
.sb-block ul li a {
    float: left;
    padding: 2px 4px;
    text-decoration: none;
    color: #ff7612;
    margin: 0 0 0 -4px
}
.sb-block ul li a:hover,
.sb-block ul li.active a {
    background: #ff7612;
    color: #fff
}

/* Footer */
.f-note {
    color: #999;
    line-height: 18px;
    margin-bottom: 24px
}
.f-main {
    font-size: 12px;
    color: #000;
    line-height: 24px
}
.f-left {
    float: left;
    width: 40%
}
.f-left img {
    vertical-align: bottom
}
.f-right {
    float: left;
    width: 60%
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
